*,::after,::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    font-family: cursive;
    font-size: 56px;
    color: aqua !important;
    font-weight: 600;
    margin-bottom: 3.5rem;
}
.container{
    margin: 0 auto;
    background-color: antiquewhite;
}
a{
    display: inline-block;
    font-size: 26px;
    font-weight: 600;
    margin:0 20px;
    text-align: right;
}
button#btn{
    margin-top: 250px;
    padding: 15px 30px;
    font-size: 25px;
    color: black;
    background: #fff;
    font-weight: 600;
    cursor: pointer;
    border: 1px solid #ddd;
    transition: all .4s ease-in-out;
}
button#btn:hover{
    background: #ddd;
    border-color: black;
}